
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    padding-left: 20px;
}
.header-section{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.menu:hover{
    color: red;
}
#search-box{
    border-radius: 8px;
    height: 20px;
    width: 180px;
    padding: 5px 5px;
}
#youtube-logo{
    height: 80px;
}

.header-img{
   height: 30px;
}

.user-login{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   padding:3px 6px 3px 10px; 
   border: 1px solid blue;
   border-radius: 25px;
   margin-right: 30px;
}

#sign-in{
    color: blue;
}


/* main-Section */

.main-Section{
    display: flex;
    /* height: 100vh;
    width: 100vw; */
    /* background-color: rgb(0, 238, 255); */
}

/* .sidebar{
    height: 100vh;
    width: 300px;
    /* background-color: burlywood; */
/* } */


.sidebar-img{
    height: 18.5px;
    padding: 5px;
}
.sidebar-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.sidebar-section-1{
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: left;
    padding-left: 20px;
    /* margin: 5px 08px; */
    align-items: center;
    /* gap: 15px; */
}
.sidebar-section-1 p{
    padding: 5px;
    padding-right: 100%;
}
.sidebar-section-1:hover > *{
    background-color: #9b9b9b;
    cursor: pointer;
}


.container-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    float: left;
    background-color: blue;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    padding: 15px 0px;
    /* height: 100px; */
    /* background-color: black; */
}

.container-header-titile{
   display: block;
   border-radius: 5px;
   padding: 5px;
   background-color: #dbdbdb;
}

.container-header-titile:hover{
    cursor: pointer;
    background-color: #9b9b9b;
}

.container-main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: blueviolet; */
}

.section-1{
    display: flex;
    flex-direction: row;
    justify-content:left;
}

.section-1-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 250px;
    padding: 5px;
}

.section-1-container-video{
   display:flex;
   flex-direction: row;
   justify-content: center;
   height: 250px;
   width: 250px;
   align-items: center;
   border-radius: 5px;
   background-color: red;
   
}

.video{
    height: 200px;
}

.section-1-container-desc{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 5px;
}
.section-1-container-desc-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 90px;
    background-color: red;
}

.dot{
    height: 20px;
}

.section-1-footer{
    display: flex;
    flex-direction: column;
}

.section-1-footer-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 15px;
}
/* .section-3{
    height: 300px;
    background-color: yellow;
} */
